<ion-view view-title="Process">
  <ion-header-bar class="bar-stable nav-background">
    <h1 class="title myTitle">New Request</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="modalCancel()">Cancel</button>
    </div>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
    <h3>Create a new request</h4>
    <form>
      <div class="list list-inset">
        <h4>Your request</h4>
        <label class="item item-input">
          <input ng-model="case.firstname" type="text" placeholder="First Name" ng-value="credentials.username.split('.')[0]" ng-readonly="1"></input>
        </label>
        <label class="item item-input">
          <input ng-model="case.lastname" type="text" placeholder="Last Name" ng-value="credentials.username.split('.')[1]" ng-readonly="1"></input>
        </label>
        <label class="item item-input">
          <textarea ng-model="case.request" type="text" placeholder="Request" style="height: 100px;"></textarea>
        </label>
        <button type="button" class="button button-block button-stable" ng-click="createCase()">
          Create
        </button>
      </div>
    </form>
  </ion-content>
</ion-view>
