<ion-view title="Details">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getProcessContent()">
    </ion-refresher>
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>

    <div ng-show="processContentList" data-ng-init="getProcessContent()">

      <div class="card">
        <div class="item item-divider item-icon-left">
          <i class="icon ion-chatbox"></i>
          <h2>{{firstname}} {{lastname}}</h2>
          <p>{{date | date:'dd.MM.yyyy'}}</p>
        </div>

        <div class="item item-text-wrap">
          {{request}}
        </div>
      </div>

      <div class="card">
        <div class="item item-avatar">
          <img src="img/women.jpg">
          <h2>Sabine Sachbearbeiter</h2>
          <p>{{date | date:'dd.MM.yyyy'}}</p>
        </div>
        <div class="item item-text-wrap">
          Status: {{decision}}
        </div>
        <div class="item item-text-wrap">
          {{comment}}
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
