<ion-view view-title="My Requests">
  <ion-content data-ng-init="loadProcessInstances()">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="loadProcessInstances()">
    </ion-refresher>
    <div class="list" ng-show="noticeMessage">
      <span class="item noticeMessage" >
        <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
      </span>
    </div>
    <ion-list ng-show="processInstances">
        <ion-item class="item item-icon-left item-icon-right" ng-repeat="processInstance in processInstances" href="#/tab/process/{{processInstance['process-instance']['id']}}">
          <i class="icon ion-chatbubble-working"></i>
          <div class="taskListItem" style="width: 45px;">
            <h2>ID</h2>
            <p>VG0{{processInstance['process-instance']['id']}}</p>
          </div>
          <div class="taskListItem" style="width: 143px;">
            <h2>Agent</h2>
            <p>Sabine Sachbearbeiter</p>
          </div>
          <div class="taskListItem">
          <h2>State</h2>
            <p ng-style="processInstance['process-instance']['state'] == 'Active' && {'color':'green'}">{{processInstance['process-instance']['state']}}</p>
          </div>
          <i class="icon ion-chevron-right icon-accessory"></i>
        </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
