<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="getProcess()">
    </ion-refresher>
  <style>
  .spinner svg {
    width: 12px;
    height: 12px;
    stroke: #444;
    fill: #444;
  }
  </style>
    <div data-ng-init="login.show()">
      <!--<img src="/img/security_umbrellas_iphone6s_optimized.jpeg" class="dashHeader">
      <h2 class="myBrand">My Insruance Portal</h2>-->
      <div class="dashHeader">
        <img src="/img/security_umbrellas_iphone6s_optimized.jpeg">
      </div>
      <h2>MyInsurance App</h2>
      <span>Jelly-o croissant toffee dessert sesame snaps. Cake liquorice gingerbread cupcake topping macaroon cotton candy. Gingerbread ice cream carrot cake jujubes biscuit apple pie halvah muffin.</span>
    </div>
    <div class="informationDash" data-ng-init="getProcess()">
      <h4>My information stream</h4>
      <div class="list">

        <div id="messages" class="list">
          <span id="nomessages" class="item">
            No status updates have been received yet.
          </span>
        </div>
        
        <h4>My settings</h4>
        <a id="waiting" class="item" href="#">
          <ion-spinner class="spinner-assertive"></ion-spinner>
          <p style="display: inline;">Registering for push notifications</p>
        </a>
        <a id="pushenabled" class="item" href="#" style="display: none">
          <h2><i class="icon ion-checkmark"></i>&nbsp;Successfully registered</h2>
          <p>You will receive push notifications from MyInsurance from now on.</p>
        </a>
        <a id="pushregistererror" class="item" href="#" style="display: none">
          <h2><i class="icon ion-alert-circled"></i>&nbsp;Error while enabling push</h2>
          <p id="pushregistererror-msg">ERROR</p>
        </a>

        <span class="item" ng-show="processName">
          <p>Currently interacting with the following Process:</p>
          <p><b>{{processName}}</b></p>
        </span>
        <span class="item noticeMessage" ng-show="noticeMessage">
          <p class="noticeMessage"><b>{{noticeMessage}}</b></p>
        </span>
      </div>
    </div>
  </ion-content>
</ion-view>
